<!-- StudentList.razor -->
@page "/studentlist"

@using BlazorApp1.Models
@inject StudentService StudentService
@inject NavigationManager NavigationManager

<h3>Student List</h3>

<button class="btn btn-primary mb-3" @onclick="NavigateToAddStudent">Add New Student</button>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Student_Name</th>
            <th>Student_DOB</th>
            <th>Student_Age</th>
            <th>Student_Gender</th>
            <th>Student_Mobile</th>
            <th>Student_Address</th>
        </tr>
    </thead> 
    <tbody> 
        @foreach (var student in students)
        {
            <tr>

                <td>@student.Student_Name</td>
                <td>@student.Student_DOB</td>
                <td>@student.Student_Age</td>
                <td>@student.Student_Gender</td>
                <td>@student.Student_Mobile</td>
                <td>@student.Student_Address</td>
                <td>
                    <button class="btn btn-warning btn-sm" @onclick="() => EditStudent(student.Student_ID)">Edit</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteStudent(student.Student_ID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@code {
    List<StudentViewResult> students = new List<StudentViewResult>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            students = await StudentService.GetStudentDataAsync();
           
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
}*@

@code {
    private void NavigateToAddStudent()
    {
        NavigationManager.NavigateTo("/addstudent");
    }

    private void EditStudent(int studentId)
    {
        NavigationManager.NavigateTo($"/editstudent/{studentId}");
    }

    private void DeleteStudent(int studentId)
    {
        NavigationManager.NavigateTo($"/deletestudent/{studentId}");
    }

}


